# ignore .DS_Store
*.DS_Store

# Agda
*.agdai
*.agda~
MAlonzo/**

# Rust
*/target
# Rust parser code gen testing dir.
*/gen_code/
*/racket_specs/gen_lib_spec/
*/racket_specs/gen_prop_spec/
*/racket_specs/gen_match/
# Others
drafts/*
*/drafts/*

# Scala
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.liquid

# CPP
build/
benchmark/
results/
matrix/

# jupyter notebook
.ipynb_checkpoints/

# Racket
compiled/